{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% if create %}<h1>{% trans 'Inscription' %} - {{ TITLE }} {{ YEAR }}</h1>{% endif %}
{% if update %}<h1>{% trans 'Modification de votre inscription' %} - {{ TITLE }} {{ YEAR }}</h1>{% endif %}
<script src="{{ STATIC_URL }}prototype.js"></script>
<script>
(function() {

    var actual_part = 0;
    var categories = [
        {
            code: 'IDH', label: '{% trans 'Individuel Homme' %}', prix: 40,
            valid: function(data) { return data.nombre == 1 && data.equipiers[0].sexe == 'H' && data.equipiers.filter(age(18)).length == 1; }
        }, {
            code: 'IDF', label: '{% trans 'Individuel Femme' %}', prix: 40,
            valid: function(data) { return data.nombre == 1 && data.equipiers[0].sexe == 'F' && data.equipiers.filter(age(18)).length == 1; }
        }, {
            code: 'DUX', label: '{% trans 'Duo Homme ou Mixte' %}', prix: 50,
            valid: function(data) { return data.nombre == 2 && data.equipiers.filter(age(18)).length == 2 && data.nombre_f < 2; }
        }, {
            code: 'DUF', label: '{% trans 'Duo Femme' %}', prix: 50,
            valid: function(data) { return data.nombre == 2 && data.equipiers.filter(age(18)).length == 2 && data.nombre_f == 2; }
        }, {
            code: 'JNX', label: '{% trans 'Junior' %}', prix: 75,
            valid: function(data) { return data.nombre > 2 && data.equipiers.filter(age(18)).length == 0 }
        }, {
            code: 'SNX', label: '{% trans 'Sénior Homme ou Mixte' %}', prix: 75,
            valid: function(data) { return data.nombre > 2 && data.nombre_f != data.nombre && data.equipiers.filter(age(18)).length > 0 && data.equipiers.filter(age(35)).length < data.nombre; }
        }, {
            code: 'SNF', label: '{% trans 'Sénior Femme' %}', prix: 75,
            valid: function(data) { return data.nombre > 2 && data.nombre_h == 0 && data.equipiers.filter(age(18)).length > 0 && data.equipiers.filter(age(35)).length < data.nombre; }
        }, {
            code: 'VEX', label: '{% trans 'Vétéran' %}', prix: 75,
            valid: function(data) { return data.nombre > 2 && data.equipiers.filter(age(35)).length == data.nombre; }
        }, {
            code: 'FMX', label: '{% trans 'Famille' %}', prix: 75, show: true,
            valid: function(data) { return data.nombre >= 2; }
        }, {
            code: 'EPX', label: '{% trans 'Entreprise / Étudiants' %}', prix: 75, show: true,
            valid: function(data) { return data.nombre >= 2; }
        }
    ];
    if({{ solo }} > 30) // Limitation des solos à 30
        categories = categories.slice(2);

    function age(a) {
        return function(eq) {
            var b = {{ YEAR }} - parseFloat(eq.date_de_naissance_year);
            if(b != a) return b > a;
            if(parseFloat(eq.date_de_naissance_month) != {{ MONTH }})
                return parseFloat(eq.date_de_naissance_month) < {{ MONTH }};
            return parseFloat(eq.date_de_naissance_day) <= {{ DAY }}
        };
    }

    function serialize() {
        var data = Form.serialize(document.body, true);
        data.equipiers = [{}, {}, {}, {}, {}];
        data.nombre = parseFloat(data.nombre);
        for(var k in data)
            if(/^form-\d-/.test(k) && parseFloat(k.substr(5)) < data.nombre)
                data.equipiers[parseFloat(k.substr(5))][k.substr(7)] = data[k];
        data.nombre_h = data.equipiers.filter(function(i) { return i.sexe == 'H'; }).length;
        data.nombre_f = data.equipiers.filter(function(i) { return i.sexe == 'F'; }).length;
        return data;
    }

    Event.observe(window, 'load', function() {
        $('id_categorie').remove();
        for(var i = 0; i < 5; i++) {
            $('id_form-' + i + '-date_de_naissance_day').up().id = 'id_form-' + i + '-date_de_naissance';
        }
        //$('id_password').up().insert('<br /><input type="password" id="id_password2" />');

        $$('select[name*=naissance]').invoke('observe', 'change', function(event) {
            var data = serialize();
            var n = event.element().name.split('-')[1];
            if(age(18)(data.equipiers[n])) {
                $('id_form-' + n + '-autorisation').up('tr').hide();
            } else {
                $('id_form-' + n + '-autorisation').up('tr').show()
                .insert({
                    after: new Element('tr')
                            .insert(new Element('td', { colspan: 2 })
                            .update("{% trans "Si vous le pouvez, scannez l'autorisation et ajoutez la en pièce jointe (formats PDF ou JPEG)." %}<br />{% blocktrans %}Vous pourrez aussi la télécharger plus tard, ou l'envoyer par courrier (<a href=\"http://www.6hdeparis.fr/wp-content/uploads/2013/03/autorisation_parentale.pdf\" target=\"_blank\">modèle</a>).{% endblocktrans %}"))
                });
            }
        
        });
        $$('input[name*=licence]').each(function(e) {
            var tr = e.up('tr');
            var id = e.id.split('-').slice(0, 2).join('-');
            tr.hide()
                .next().hide();
            var handler = function() {
                if($(id + '-justificatif_1').checked) {
                    tr.show()
                        .next().show().down('label').update('{% trans 'Licence' %}:');
                    tr.next(1).show()
                }
                if($(id + '-justificatif_2').checked) {
                    tr.hide()
                        .next().show().down('label').update('{% trans 'Certificat médical' %}:');
                    tr.next(1).show()
                }
            };
            $(id + '-justificatif_0').up('li').remove();
            $(id + '-justificatif_1').observe('change', handler);
            $(id + '-justificatif_2').observe('change', handler);
            handler();
        })
        $$('input[name*=parent]').each(function(e) {
            var tr = e.up('tr').hide();
            $('justif_FMX').down('table').insert(tr);
        });
        $$('input[name*=jointe2]').each(function(e) {
            var tr = e.up('tr').hide();
            $('justif_EPX').down('table').insert(tr);
        });

        var nom_timeout;
        function check_nom(wait) {
            new Ajax.Request('{% url inscriptions.check_name %}', {
                parameters: { nom: $F('id_nom'), id: '0{{ instance.id }}' },
                asynchronous: !wait,
                onSuccess: function(r) {
                    if(r.responseText != '0')
                        $('nom_erreur').update("{% trans "Ce nom d'équipe est déjà utilisé !" %}");
                    else
                        $('nom_erreur').update("");

                }
            });
        }
        $('id_nom')
            .insert({ after: new Element('div', { id: 'nom_erreur' }) })
            .observe('keydown', function(event) {
                if(nom_timeout) clearTimeout(nom_timeout);
                nom_timeout = setTimeout(check_nom, 500);
            });



        $('part0').down('input').focus();

        $('button_prev').observe('click', function(event) {
            $$('.parts').invoke('hide');
            actual_part--;
            $('part' + actual_part).show();
            $('part' + actual_part).down('input').focus();
            $('button_next').show();
            $('button_submit').hide();
            if(!actual_part) event.element().hide();
        });


        $('button_next').observe('click', function(event) {
            var data = serialize();
            // check values
            var ok = true;
            var prefix = 'id_';
            var test_data = data;
            if(!actual_part) {
                var tests = {
                    nom:                function(k) { check_nom(true); return /^.+$/i.test(this.nom) && $('nom_erreur').innerHTML == ''; },
                    gerant_nom:         /^.+$/i,
                    gerant_prenom:      /^.+$/i,
                    gerant_ville:       /^.+$/i,
                    gerant_code_postal: /^[0-9]{4,6}$/i,
                    gerant_email:       /^[a-z0-9+\-\._]+@([a-z0-9\-_]+\.)+[a-z]{2,5}$/i,
                    //password:           {% if create %}/^.{6,}$/i{% else %}/^(|.{6,})$/i{% endif %},
                    //password2:          function() { return this.password == $F('id_password2'); },
                    //nombre:             /^[12345]$/i,
                    gerant_telephone:   /^\+?[0-9]{10,15}$/i
                };
            } else {
                function check_date(k) {
                    var d = new Date(parseFloat(this[k + '_year']), parseFloat(this[k + '_month']) - 1, parseFloat(this[k + '_day']));
                    return d.getFullYear()  == parseFloat(this[k + '_year'])  && 
                           d.getMonth() + 1 == parseFloat(this[k + '_month']) &&
                           d.getDate()       == parseFloat(this[k + '_day'])   ? d : undefined;
                }

                var tests = {
                    nom:                /^.+$/i,
                    prenom:             /^.+$/i,
                    //sexe:               /^[HF]$/i,
                    ville:              /^.+$/i,
                    code_postal:        /^[0-9]{4,6}$/i,
                    email:              /^[a-z0-9+\-\._]+@([a-z0-9\-_]+\.)+[a-z]{2,5}$/i,
                    date_de_naissance:  function(k) { return check_date.call(this, k) && age({{ MIN_AGE }})(this); },
                    num_licence:        function(k) { return this.justificatif != 'licence' || /^[0-9]{3,9}$/i.test(this[k]); }
                };
                prefix = 'id_form-' + (actual_part - 1) + '-';
                test_data = data.equipiers[actual_part - 1];
            }
            for(var k in tests) {
                if(tests[k].test ? tests[k].test(test_data[k]) : tests[k].call(test_data, k)) {
                    $(prefix + k).setStyle({ background: 'white' });
                } else {
                    ok = false;
                    $(prefix + k).setStyle({ background: '#ff6666' });
                }
            }
            if(!ok) {
                return alert('{% trans 'Veuillez corriger les champs en rouge.' %}');
            }

            // change page
            $('button_prev').show();
            $$('.parts').invoke('hide');
            actual_part++;
            if(actual_part > parseInt($F('id_nombre'))) {
                // last page
                $('partlast').show();
                $('partlast').down('input').focus();

                actual_categories = categories.filter(function(c) {
                    return c.valid(data);
                })
                
                if(actual_categories.length == 0) {
                    $('button_prev').click();
                    return alert("{% trans "Votre équipe n'est éligible dans aucune des catégories proposées pour cette compétition. Veuillez vous référer au réglement de la course disponible sur le site pour voir les critères de chaque catégorie." %}");
                }

                $('catwrapper').innerHTML = actual_categories.map(function(c) {
                    return '<input type="radio" value="#{code}" name="categorie" id="id_categorie-#{code}"><label for="id_categorie-#{code}">#{label} - #{prix} €</label><br />'.interpolate(c);
                }).join('');
                $$('input[name=categorie]').invoke('observe', 'change', function(event) {
                    var categorie = $$('input[name=categorie]').filter(function(e) { return e.checked; })[0].value;
                    var d = categories.filter(function(c) { return c.code == categorie; })[0];
                    $('id_prix').value = d.prix;
                    $$('.justif_supp').invoke('hide');
                    if(d.show)
                        $('justif_' + d.code).show();
                });

                for(var i = 1; i < actual_part; i++) {
                    var n = $F('id_form-' + (i - 1) + '-prenom') + ' ' + $F('id_form-' + (i - 1) + '-nom');
                    $$('#justif_FMX', '#justif_EPX').each(function(e) {
                        var tr = e.down('tr', i - 1);
                        tr.show();
                        tr.down().update(n);
                    });
                }

                {% if update %}
                $('id_categorie-{{ instance.categorie }}').checked = true;
                {% else %}
                $$('input[name=categorie]')[0].checked = true;
                $('id_prix').value = actual_categories[0].prix;
                {% endif %}

                $('button_next').hide();
                $('id_form-TOTAL_FORMS').value = actual_part - 1;
                $('button_submit').show();
            } else {
                $('part' + actual_part).show();
                $('part' + actual_part).down('input').focus();
                if(age(18)(data.equipiers[actual_part - 1]))
                    $('id_form-' + (actual_part - 1) + '-autorisation').up('tr').hide();
            }
        });



        $('button_submit').observe('mousedown', function(event) {
            $R(actual_part, 5).each(function(i) { $('part' + i).remove(); });
            var categorie = $$('input[name=categorie]').filter(function(e) { return e.checked; })[0].value;
            $('id_prix').value = categories.filter(function(c) { return c.code == categorie; })[0].prix;
            if(!categorie) {
                event.stop();
                alert("{% trans 'Vous devez choisir une catégorie' %}");
            }
            if(!$('id_conditions').checked) {
                event.stop();
                alert("{% trans 'Vous devez accépter le règlement de la compétition' %}");
            }
        });
    });



})()
</script>
<form method="post" enctype="multipart/form-data" onsubmit="$('button_submit').style.display=='none'">
    <div id="errors">
        {% if equipe_form.errors %}
        <h3>{% trans 'Informations générales' %}</h3>
            {% for k,v in equipe_form.errors.items %}
                {{ k }} : {{ v }}
            {% endfor %}
        {% endif %}
        {% for equipier_form in equipier_formset %}
            {% if equipier_form.errors %}
            <h3>{% blocktrans with n=forloop.counter %}Équipier {{ n }}{% endblocktrans %}</h3>
                {% for k,v in equipier_form.errors.items %}
                    {{ k }} : {{ v }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div id="part0" class="parts">
        <h2>{%trans 'Information générales' %}</h2>
        <table>{{ equipe_form.as_table }}</table>
    </div>

    {% for equipier_form in equipier_formset %}
    <div id="part{{ forloop.counter }}" style="display: none;" class="parts">
        <h2>Equipier {{ forloop.counter }}</h2>
        <table>
            {{ equipier_form.as_table }}
            <tr style="display: none"><td colspan="2">{% blocktrans %}Si vous le pouvez, scannez le certificat ou la licence et ajoutez le en pièce jointe (formats PDF ou JPEG, <a href="http://www.6hdeparis.fr/wp-content/uploads/2013/03/certificat_medical.pdf" target="_blank">modèle de certificat</a>).{% endblocktrans %}<br />{% trans "Vous pourrez aussi la télécharger plus tard, ou l'envoyer par courrier." %}</td></tr>
        </table><br />
        {% blocktrans with MIN_AGE=MIN_AGE DAY=DAY MONTH=MONTH YEAR=YEAR %}Chaque équipier doit avoir plus de {{ MIN_AGE }} ans au {{ DAY }}/{{ MONTH }}/{{ YEAR }}.{% endblocktrans %}<br />
        {% trans "Chaque équipier doit avoir un certificat médical d'un an ou une licence FFRS en cours de validité pour participer." %}<br />
    </div>
    {% endfor %}

    <div id="partlast" style="display: none;" class="parts">
        <h2>Choix de la catégorie</h2>
        <div id="catwrapper"></div>
        <br />
        <div id="justif_FMX" class="justif_supp" style="display: none">
            {% trans "La catégorie que vous avez choisi nécéssite des justificatifs suplémentaires." %}<br />
            {% trans "Catégorie Famille : Veuillez le renseigner les liens de parenté pour chaque équipiers." %}<br />
            <table></table>
        </div>
        <div id="justif_EPX" class="justif_supp" style="display: none">
            {% trans "La catégorie que vous avez choisi nécéssite des justificatifs suplémentaires." %}<br />
            {% blocktrans %}Catégorie Entreprise / Étudiants : Veuillez ajouter un certificat signé par l'employeur (un seul pour toute l'équipe, <a href="http://www.6hdeparis.fr/wp-content/uploads/2013/03/attestation_entreprise.pdf" target="_blank">modèle</a>) ou une copie des fiches de paies ou une copie des cartes étudiants.{% endblocktrans %}<br />
            <table></table>
        </div>
        <br />
        <input type="checkbox" name="conditions" id="id_conditions" /><label for="id_conditions">{% blocktrans %}J'accepte le <a href="http://www.6hdeparis.fr/wp-content/uploads/2013/03/Reglement%206%20Heures%20Roller%20Paris%202013.pdf" target="_blank">règlement de la course</a>{% endblocktrans %}</label>
        <br />
    </div>

    {{ equipier_formset.management_form }}
    <div id="buttons">
        <input id="button_prev"   type="button" value="{% trans 'Précédent' %}" style="display: none;" />
        <input id="button_next"   type="button" value="{% trans 'Suivant' %}" />
        <input id="button_submit" type="submit" value="{% trans 'Valider' %}" style="display: none;" />
    </div>
    {% csrf_token %}
</form>
{% endblock %}
