{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% if create %}<h1>{% trans 'Inscription' %} - {{ TITLE }}</h1>{% endif %}
{% if update %}<h1>{% trans 'Modification de votre inscription' %} - {{ TITLE }}</h1>{% endif %}
<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
<script src="{{ STATIC_URL }}prototype.js"></script>
<script>
    var CATEGORIES = [
    {% for cat in COURSE.categories.all %}
        {
            id:    "{{ cat.id }}",
            code:  "{{ cat.code|escapejs }}",
            label: "{{ cat.nom|escapejs }}",
            prix: {% if instance %} 
                    new Date("{{ COURSE.date_augmentation|date:'c' }}") <= new Date("{{ instance.date|date:'c' }}") 
                  {% else %}
                    new Date("{{ COURSE.date_augmentation|date:'c' }}") <= new Date()
                  {% endif %} ? {{ cat.prix2 }} : {{ cat.prix1 }},
            min_equipiers: {{ cat.min_equipiers }},
            max_equipiers: {{ cat.max_equipiers }},
            min_age: {{ cat.min_age }},
            sexe: '{{ cat.sexe }}',
            valid: {{ cat.validation|safe }},
            numero_debut: {{ cat.numero_debut }},
            numero_fin: {{ cat.numero_fin }}
        }{% if not forloop.last %},{% endif %}
    {% endfor %}];
    var nombres_par_tranche = { {% for k, v in nombres_par_tranche.items %}"{{ k }}": {{ v }}{% if not forloop.last %},{% endif %}{% endfor %} };
    CATEGORIES = CATEGORIES.filter(function(categorie) {
        {% if update %}
        if(categorie.code === '{{ instance.categorie.code }}') return true;
        {% endif %}
        {% if user.is_staff %}return true;{% endif %}
        return nombres_par_tranche[categorie.numero_debut + '-' + categorie.numero_fin] < categorie.numero_fin - categorie.numero_debut + 1;
    });
    var COURSE = {
        YEAR: {{ YEAR }},
        MONTH: {{ MONTH }},
        DAY: {{ DAY }},
        CLOSE_DATE: new Date({{ CLOSE_YEAR }},{{ CLOSE_MONTH }}-1,{{ CLOSE_DAY }}),
        MIN_AGE: {{ MIN_AGE }},
        EQUIPIERS_COUNT: {{ equipiers_count }},
        MAX_EQUIPIERS: {{ COURSE.limite_participants }},
        URL: "{{ COURSE.url|escapejs }}"
    };
    var INSTANCE = {% if not instance %}{}{% else %}{
        ID: {{ instance.id }},
        CATEGORIE: {{ instance.categorie_id }},
        CATEGORIE_CODE: '{{ instance.categorie.code }}'
    }{% endif %};
    var CHECK_URL = '{% url "inscriptions.check_name" course_uid=COURSE.uid %}';
    var UPDATE = {{ update|yesno:"true,false" }};
    var STAFF = false;
    {% if user.is_staff %}
    UPDATE = false;
    STAFF = true;
    {% endif %}
    var I18N = {};
    {% if message %} alert("{{ message }}"); location.reload(true); {% endif %}
</script>
<script src="{{ STATIC_URL }}form.js"></script>
<form method="post" enctype="multipart/form-data" onsubmit="$('button_submit').style.display=='none'">
    <div id="errors">
        {% if equipe_form.errors %}
        <h3>{% trans 'Informations générales' %}</h3>
            {% for k,v in equipe_form.errors.items %}
                {{ k }} : {{ v }}
            {% endfor %}
        {% endif %}
        {% for equipier_form in equipier_formset %}
            {% if equipier_form.errors %}
            <h3>{% blocktrans with n=forloop.counter %}Équipier {{ n }}{% endblocktrans %}</h3>
                {% for k,v in equipier_form.errors.items %}
                    {{ k }} : {{ v }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <div id="part0" class="parts">
        {% blocktrans %}Inscrivez votre équipe, votre duo ou votre solo en quelques étapes. Laissez vous guider.{% endblocktrans%}<br />
        <br />
        {% blocktrans %}Vous pouvez envoyer vos justificatifs par internet ou par courrier. Vous pouvez payer votre inscription par internet ou par chèque. Une fois votre inscription terminée, vous recevrez un email de confirmation.{% endblocktrans%}<br />
        {% blocktrans with date=COURSE.date_fermeture %}Vous pouvez modifier votre inscription, ajouter ou enlever des coéquipiers, envoyer les certificats, changer de catégorie jusqu'au {{ date }} inclus.{% endblocktrans%}<br />
        {% blocktrans %}Si vous rencontrez des problèmes lors de votre inscription, <a href="http://www.6hdeparis.fr/contact/">contactez nous</a>{% endblocktrans%}<br />

        <h2>{%trans 'Information générales' %}</h2>
        <table>{{ equipe_form.as_table }}</table>
    </div>

    {% for equipier_form in equipier_formset %}
    <div id="part{{ forloop.counter }}" style="display: none;" class="parts">
        <h2>Equipier {{ forloop.counter }}</h2>
        <table class="equipier_table">
            {{ equipier_form.as_table }}
            <tr style="display: none"><td colspan="2">{% blocktrans %}Si vous le pouvez, scannez le certificat ou la licence et ajoutez le en pièce jointe (formats PDF ou JPEG, <a href="http://www.6hdeparis.fr/wp-content/uploads/2013/03/certificat_medical.pdf" target="_blank">modèle de certificat</a>).{% endblocktrans %}<br />{% trans "Vous pourrez aussi la télécharger plus tard, ou l'envoyer par courrier." %}</td></tr>
        </table><br />
        {% blocktrans with min_age=COURSE.min_age date=COURSE.date %}Chaque équipier doit avoir plus de {{ min_age }} ans au {{ date }}.{% endblocktrans %}<br />
        {% trans "Chaque équipier doit avoir un certificat médical de moins d'un an ou une licence FFRS en cours de validité pour participer." %}<br />
    </div>
    {% endfor %}

    <div id="partlast" style="display: none;" class="parts">
        <h2>Choix de la catégorie</h2>
        <div id="catwrapper"></div>
        <br />
        <div id="justif_FMX" class="justif_supp" style="display: none">
            {% trans "La catégorie que vous avez choisi nécéssite des justificatifs suplémentaires." %}<br />
            {% trans "Catégorie Famille : Veuillez le renseigner les liens de parenté pour chaque équipiers." %}<br />
            <table></table>
        </div>
        <div id="justif_EPX" class="justif_supp" style="display: none">
            {% trans "La catégorie que vous avez choisi nécéssite des justificatifs suplémentaires." %}<br />
            {% blocktrans %}Catégorie Entreprise / Étudiants : Veuillez ajouter un certificat signé par l'employeur (un seul pour toute l'équipe, <a href="http://www.6hdeparis.fr/wp-content/uploads/2013/03/attestation_entreprise.pdf" target="_blank">modèle</a>) ou une copie des fiches de paies ou une copie des cartes étudiants.{% endblocktrans %}<br />
            <table></table>
        </div>
        <br />
        <input type="checkbox" name="conditions" id="id_conditions" {% if update %}checked {% endif %}/><label for="id_conditions">{% blocktrans with url=COURSE.url_reglement %}J'accepte le <a href="{{ url }}" target="_blank">règlement de la course</a>{% endblocktrans %}</label>
        <br />
    </div>

    {{ equipier_formset.management_form }}
    <div id="buttons">
        <input id="button_prev"   type="button" value="{% trans 'Précédent' %}" style="display: none;" />
        <input id="button_next"   type="button" value="{% trans 'Suivant' %}" />
        <input id="button_submit" type="submit" value="{% trans 'Valider' %}" style="display: none;" />
    </div>
    {% csrf_token %}
</form>
{% endblock %}
