{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
    <![endif]-->
    <style>
        .container_16 .grid_11 { width: 940px; }
        #stats>div { clear: both; }
        #stats>div>.bluff-wrapper { float: right; }
        #stats>div>table { float: left; }
        table, td, th { border: 1px solid grey; }
        table { margin: 10px; }
        tr:nth-child(odd) { background: #F2E5FF; }
        #map {width: 600px; height: 600px; float: right; margin-top: 10px; }
        #map img { border: none; padding: 0; margin: 0; }
        hr { clear: both; margin: 30px auto; width: 40%; }
    </style>
    <h1>Inscrits</h1>
    <script>
        var clubs = {};
        var categories = {};
        var villes = {};
        var pays = {};
        var nbequipe = {{ object_list|length }};
        var nombre = 0;
        var prix = 0;
        var nbpaye = 0;
        var paye = 0;
        var nbcomplet = 0;
        var nbaverifier = 0;
        var nbcertifenattente = 0;
        var nbdossierscertifenattente = 0;
        var pays_names = {};
    </script>
    <table width="100%">
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Club</th>
            <th>Cat.</th>
            <th>Ville</th>
            <th>Pays</th>
            {% if user.is_staff %}
            <th>☺</th>
            <th>Date</th>
            <th>€</th>
            <th><img alt="None" src="/static/admin/img/icon-yes.gif"></th>
            {% endif %}
        </tr>
        {% for equipe in object_list %}
        <tr>
            <td>{{ equipe.id }}</td>
            <td>{{ equipe.nom }}</td>
            <td>{{ equipe.club }}</td>
            <td>{{ equipe.categorie }}</td>
            <td>{{ equipe.gerant_ville2.nom }}</td>
            <td>
                <img src="/static/flags/{{ equipe.gerant_pays|lower }}.png" alt="{{ equipe.gerant_pays.name }}" />
                <script>
                    clubs['{{ equipe.club|lower|escapejs }}' || 'Sans club'] = (clubs['{{ equipe.club|lower|escapejs }}' || 'Sans club'] || 0) + 1
                    categories['{{ equipe.categorie|escapejs }}'] = (categories['{{ equipe.categorie|escapejs }}'] || 0) + 1
                    villes['{{ equipe.gerant_ville|lower|escapejs }}, {{ equipe.gerant_pays|lower|escapejs }}'] = (villes['{{ equipe.gerant_ville|lower|escapejs }}'] || 0) + 1
                    pays['{{ equipe.gerant_pays|lower|escapejs }}'] = (pays['{{ equipe.gerant_pays|lower|escapejs }}'] || 0) + 1
                    pays_names['{{ equipe.gerant_pays|lower|escapejs }}'] = "{{ equipe.gerant_pays.name }}";
                </script>
            </td>
            {% if user.is_staff %}
            <td>{{ equipe.nombre }}</td>
            <td>{{ equipe.date }}</td>
            <td>{{ equipe.prix }}€ {{ equipe.paiement_complet2|safe }}</td>
            <td>
                {{ equipe.dossier_complet_auto2|safe }}
                <script>
                    nombre += {{ equipe.nombre }};
                    prix += {{ equipe.prix }};
                    nbpaye += {{ equipe.paiement_complet|yesno:"1,0,0" }};
                    paye += {{ equipe.paiement|default:0 }};
                    nbcomplet += {{ equipe.dossier_complet_auto|yesno:"1,0,0" }};
                    nbaverifier += {{ equipe.dossier_complet_auto|yesno:"1,0,0" }};
                    nbdossierscertifenattente += ({{ equipe.licence_manquantes|length }} + {{ equipe.certificat_manquantes|length }} + {{ equipe.autorisation_manquantes|length }}) ? 1 : 0;
                    nbcertifenattente += ({{ equipe.licence_manquantes|length }} + {{ equipe.certificat_manquantes|length }} + {{ equipe.autorisation_manquantes|length }});
                </script>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">{{ object_list|length }} inscriptions</td>
            <td><script>var nbclubs = 0; for(var k in clubs) nbclubs++; document.write(nbclubs);</script> clubs</td>
            <td></td>
            <td><script>var nbvilles = 0; for(var k in villes) nbvilles++; document.write(nbvilles);</script> villes</td>
            <td><script>var nbpays = 0; for(var k in pays) nbpays++; document.write(nbpays);</script> pays</td>
            {% if user.is_staff %}
            <td><script>document.write(nombre);</script></td>
            <td colspan="2" style="text-align: right;"><script>document.write(paye);</script>€ / <script>document.write(prix);</script>€ (<script>document.write(nbpaye);</script><img alt="None" src="/static/admin/img/icon-yes.gif">)</td>
            <td><script>document.write(nbcomplet);</script><img alt="None" src="/static/admin/img/icon-yes.gif"></td>
            {% endif %}
        </tr>
    </table>
    <div>
        {% if user.is_staff %}
        <script>document.write(nbaverifier);</script> dossiers avec documents éléctroniques à vérifier.<br />
        <script>document.write(nbcertifenattente);</script> documents en attente sur <script>document.write(nbdossierscertifenattente);</script> dossiers.<br />
        {% endif %}

    <div id="stats">
        <hr />
        <script>
            var categories_names = {
                'IDH': '{% trans 'Individuel Homme' %}',
                'IDF': '{% trans 'Individuel Femme' %}',
                'DUX': '{% trans 'Duo Homme ou Mixte' %}',
                'DUF': '{% trans 'Duo Femme' %}',
                'JNX': '{% trans 'Junior' %}',
                'SNX': '{% trans 'Sénior Homme ou Mixte' %}',
                'SNF': '{% trans 'Sénior Femme' %}',
                'VEX': '{% trans 'Vétéran' %}',
                'FMX': '{% trans 'Famille' %}',
                'EPX': '{% trans 'Entreprise / Étudiants' %}'
            };
            villes = {
{% for v in villes %}{% if v.equipiers > 0 %}                '{{ v.nom|escapejs }}': {
                lat: {{ v.lat|stringformat:"f" }},
                    lng: {{ v.lng|stringformat:"f" }},
                    count: {{ v.equipiers }},
                    region: '{{ v.region|escapejs }}',
                    pays: '{{ v.pays|escapejs|lower }}'
                }{% if not loop.last %},{% endif %}
{% endif %}{% endfor %}            };
            var nbcount = 0;
            for(var k in villes)
                nbcount += villes[k].count;
            var pays = {};
            for(var k in villes) {
                var r = villes[k].pays == 'fr' ? villes[k].region : villes[k].pays
                pays[r] = pays[r] || { count: 0, pays: villes[k].pays };
                pays[r].count += villes[k].count;
            }
            var s = '';
            s += '<div><h1>Origine des participants</h1><table><tr><th colspan="2">Villes</th><th>#</th><th>%</th></tr>';
            for(var k in villes) {
                s+= '<tr><td>' + k + '</td><td><img src="/static/flags/' + villes[k].pays + '.png" alt="' + pays_names[villes[k].pays] + '" /></td><td>' + villes[k].count + '</td><td>' + Math.round(villes[k].count / nbcount * 100) + '%</td></tr>';
            }
            s += '</table><div id="map"></div>';


            s += '<canvas id="canvas_pays"></canvas><table style="float: right;"><tr><th>Origine</th><th>#</th><th>%</th></tr>';
            for(var k in pays)
                s+= '<tr><td><img src="/static/flags/' + pays[k].pays + '.png" alt="' + pays_names[pays[k].pays] + '" /> ' + (pays_names[k] || k) + '</td><td>' + pays[k].count + '</td><td>' + Math.round(pays[k].count / nbcount * 100) + '%</td></tr>';
            s += '</table></div>';


        s += '<hr /><div><h1>Catégories</h1><table><tr><th>Code</th><th>Catégorie</th><th>#</th><th>%</th></tr>';
            for(var k in categories)
                s+= '<tr><td>' + k + '</td><td>' + categories_names[k] + '</td><td>' + categories[k] + '</td><td>' + Math.round(categories[k] / nbequipe * 100) + '%</td></tr>';
            s += '</table><canvas id="canvas_categories"></canvas><canvas id="canvas_time"></canvas></div>';


        s += '<hr /><div><canvas id="canvas_clubs"></canvas><table><tr><th>Clubs</th><th>#</th><th>%</th></tr>';
            for(var k in clubs)
                if(clubs[k] > 1)
                    s+= '<tr><td>' + k + '</td><td>' + clubs[k] + '</td><td>' + Math.round(clubs[k] / nbequipe * 100) + '%</td></tr>';
            s += '</table></div>';
            document.write(s);
        </script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
        <script src="{{ STATIC_URL }}/js-class.js"></script>
        <script src="{{ STATIC_URL }}/bluff-src.js"></script>
        <script>
            var map = L.map('map').setView([51.505, -0.09], 13);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            var minlat = 1000, minlng = 1000,
                maxlng = -1000, maxlat = -1000;
            for(var k in villes) {
                L.marker(
                    [villes[k].lat, villes[k].lng]
                ).addTo(map).bindPopup(k + ': ' + villes[k].count);
                if(villes[k].lat < minlat) minlat = villes[k].lat;
                if(villes[k].lat > maxlat) maxlat = villes[k].lat;
                if(villes[k].lng < minlng) minlng = villes[k].lng;
                if(villes[k].lng > maxlng) maxlng = villes[k].lng;
            }
            map.fitBounds([[minlat, minlng], [maxlat, maxlng]]);





            var colors = { categories: {} };
            var g = new Bluff.StackedArea('canvas_time', 900);
            g.theme_pastel();
            g.title = '';
            g.tooltips = true;
            g.marker_font_size = 12;
            g.y_axis_increment = 10;
            var d = {};
            var i = 0;
            for(var k in categories) d[k] = [0];
            {% for equipe in object_list %}
            var f = Math.round((new Date('{{ equipe.date|date:"c" }}').getTime() - new Date(2013, 2, 15).getTime()) / 86400000);
            for(var k in d) {
                var j = i + 1;
                while(j <= f) {
                    d[k].push(d[k][j - 1] || 0);
                    j++;
                }
            }
            d['{{ equipe.categorie }}'][f] = d['{{ equipe.categorie }}'][f] + 1;
            i = f;
            {% endfor %}
            var i = 0;
            for(var k in d) {
                g.data(k, d[k]);
                colors.categories[k] = g.colors[i];
                i++;
            }
            g.labels = {};
            for(var i = 0; i < f; i += 7) {
                var d = new Date(2013, 2, 15 + i)
                g.labels[i] = d.getDate() + '/' + (d.getMonth() + 1);
            }
            g.draw();
            g._d.stroke = 'white';
            g._d.stroke_width = 1;
            for(var index in g.labels) {
                var x = g._graph_left + (g._x_increment * index);
                g._d.line(x, g._graph_bottom, x, g._graph_top);
            }

            var autres = 0;
            for(var k in clubs)
                if(clubs[k] == 1) {
                    autres++;
                    delete clubs[k];
                }
            clubs.Autres = autres;

            var seuils = {
                categories: 0.00001
            };
            ['pays', 'categories', 'clubs'].forEach(function(data) {
                var g = new Bluff.Pie('canvas_' + data, 400);
                g.theme_pastel();
                g.title = '';
                g.tooltips = true;
                var d = [];
                var sum = 0;
                for(var k in window[data]) {
                    var value = window[data][k];
                    if(typeof value == 'object')
                        value = value.count;
                    sum += value;
                }
                var d2 = [];
                for(var k in window[data]) {
                    var value = window[data][k];
                    if(typeof value == 'object')
                        value = value.count;
                    if(value / sum > (seuils[data] || .02))
                        d.push([k, value]);
                    else
                       d2.push([k, value]);
                }
                if(d2.length == 1)
                    d.push(d2.shift());

                d.sort(function(x, y) { return x[1] < y[1] ? -1 : x[1] > y[1] ? 1 : 0; });
                d.forEach(function(i, j) {
                    g.data(i[0], i[1], colors[data] && colors[data][i[0]]);
                });
                console.log(colors[data], g.colors);
                if(d2.length)
                    g.data('Autres', d2.reduce(function(x, y) { return x + y[1]; }, 0));
                g.draw();
            });


        </script>
    </div>
{% endblock %}
