<p>(English translation below)</p>

<p>Bonjour {{ instance.gerant_prenom }} {{ instance.gerant_nom }},</p>

<p>A 1 jours de la course, nous avons fait un point sur les inscriptions des équipes.</p>

<p>Or, concernant votre équipe {{ instance.id }} - {{ instance.nom }}, nous n'avons pas reçu votre paiement de {{ instance.prix }} €.</p>
<p>Pouvez vous apporter un chèque de {{ instance.prix }} € à l’ordre de Paris Université Club, demain.</p>

<p>Merci par avance</p>
<p>Et à demain !</p>
<p>Sportivement,</p>

<p>--<br />
L'équipe des 6h de Paris</p>

<hr />
<p>Hi {{ instance.gerant_prenom }} {{ instance.gerant_nom }},</p>

<p>The race is tomorow!</p>

<p>For your team {{ instance.id }} - {{ instance.nom }}, we're still expecting your paiement of € {{ instance.prix }}.</p>
<p>Could you bring with you a check of € {{ instance.prix }} to  “Paris Université Club” tomorow</p>

<p>Thank you very much.</p>
<p>Best regards</p>
<p>--<br />
The 6h de Paris Team</p>
