<p>(English translation below)</p>

<p>Bonjour {{ instance.gerant_prenom }} {{ instance.gerant_nom }},</p>

<p>A 8 jours de la course, nous avons fait un point sur les inscriptions des équipes.</p>

<p>Or, concernant votre équipe {{ instance.id }} - {{ instance.nom }}, nous n'avons pas reçu votre paiement de {{ instance.prix }} €.</p>
<p>Pour cela, vous pouvez payer par internet en <a href="http://inscription.6hdeparis.fr/{{ instance.id }}/done/">cliquant ici</a>, ou apporter un chèque de {{ instance.prix }} € à l’ordre de Paris Université Club, le jour de la course.</p>

<p>Merci par avance</p>
<p>Et à dimanche prochain !</p>
<p>Sportivement,</p>

<p>--<br />
L'équipe des 6h de Paris</p>

<hr />
<p>Hi {{ instance.gerant_prenom }} {{ instance.gerant_nom }},</p>

<p>The race is next week!</p>

<p>For your team {{ instance.id }} - {{ instance.nom }}, we're still expecting your paiement of € {{ instance.prix }}.</p>
<p>You can pay online by following <a href="http://inscription.6hdeparis.fr/{{ instance.id }}/done/">this link</a> or by bringing with you a check of € {{ instance.prix }} to  “Paris Université Club” next sunday</p>

<p>Thank you very much.</p>
<p>We're looking forward to seeing you next week!</p>
<p>Best regards</p>
<p>--<br />
The 6h de Paris Team</p>
