<p>(English translation below)</p>

<p>Bonjour {{ instance.gerant_prenom }} {{ instance.gerant_nom }},</p>

<p>A 8 jours de la course, nous avons fait un point sur les inscriptions des équipes, et les documents fournis.</p>

<p>Or, concernant votre équipe {{ instance.id }} - {{ instance.nom }}, il manque les documents suivants :</p>
<ul>
{% for equipier in instance.equipier_set.all %}
{% if not equipier.piece_jointe_valide %}
{% if equipier.justificatif == 'licence' %}{% if equipier.pays == 'FR' %}<li>Licence FFRS 2013 pour {{ equipier.prenom }} {{ equipier.nom }}</li>{% endif %}{% endif %}
{% if equipier.justificatif == 'certificat' or equipier.pays != 'FR' %}<li>Certificat médicale pour {{ equipier.prenom }} {{ equipier.nom }}</li>{% endif %}
{% endif %}
{% if equipier.age < 18  and not equipier.autorisation_valide %}<li>Autorisation parentale pour {{ equipier.prenom }} {{ equipier.nom }}</li>{% endif %}
{% endfor %}</ul>
<p>Pouvez-vous les joindre en utilisant <a href="http://inscription.6hdeparis.fr/{{ instance.id }}/{{ instance.password }}/">ce lien</a> (svp, ne l'envoyez pas par email, utilisez le lien), ou les apporter le jour de la course ?</p>

<p><b>Attention : sans ces documents, ces personnes ne pourront pas participer à la course</b></p>
<p>Merci par avance</p>
<p>Et à dimanche prochain !</p>
<p>Sportivement,</p>

<p>--<br />
L'équipe des 6h de Paris</p>

<hr />
<p>Hi {{ instance.gerant_prenom }} {{ instance.gerant_nom }},</p>

<p>The race is next week!</p>

<p>We checked the team regsitrations, and documents provided.</p>
<p>For your team {{ instance.id }} - {{ instance.nom }}, we're still expecting the following documents :</p>
<ul>
{% for equipier in instance.equipier_set.all %}
{% if not equipier.piece_jointe_valide %}
{% if equipier.justificatif == 'licence' %}{% if equipier.pays == 'FR' %}<li>Skating licence obtained with a medical certifcate for {{ equipier.prenom }} {{ equipier.nom }}</li>{% endif %}{% endif %}
{% if equipier.justificatif == 'certificat' or equipier.pays != 'FR' %}<li>Medical certificate for {{ equipier.prenom }} {{ equipier.nom }}</li>{% endif %}
{% endif %}
{% if equipier.age < 18  and not equipier.autorisation_valide %}<li>Parental autorization for {{ equipier.prenom }} {{ equipier.nom }}</li>{% endif %}
{% endfor %}</ul>

<p>Could you add it to your registration, using <a href="http://inscription.6hdeparis.fr/{{ instance.id }}/{{ instance.password }}/">this link</a> (please, don't send it by email, follow the link), or bring it with you next sunday?</p>
<p><b>Warning : without certificate, we won't let you join the race (french law)!</b></p>

<p>Thank you very much.</p>
<p>We're looking forward to seeing you next week!</p>
<p>Best regards</p>
<p>--<br />
The 6h de Paris Team</p>
