<div id="yiv3670622813">
  <div>
    <div style="color:#000;background-color:#fff;font-family:tahoma, new
      york, times, serif;font-size:10pt;">
      <div id="yiv3670622813">
        <div>
          <div
            style="color:#000;background-color:#fff;font-family:tahoma,
            new york, times, serif;font-size:10pt;">
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"
id="yiv3670622813docs-internal-guid-23653775-1ed5-9b00-6b04-52b009ca8778"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_253"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Bonjour
                à toutes et à tous,</span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_249"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_248"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"><br>
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_255"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_248"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Merci
                de vous être inscrit à la 1</span><span
style="font-size:9px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:super;">ère</span><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_262"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
                édition des 6h Roller de Paris !</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_244"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_243"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Vous
                êtes 672 et nous avons hâte de vous recevoir !!!</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_281"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_243"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"><br>
              </span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_239"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_238"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">A
                J-8, voici quelques informations complémentaires pour
                mieux organiser votre venue lors de cette grande fête du
                roller!</span></div>
            <br>
            <span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"></span>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_234"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_233"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Accès
                au parking :<br>
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_229"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_228"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Un
                parking, gratuit, vous est réservé sur la pelouse de St
                Cloud, accessible par la porte de Passy .</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_224"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_223"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Ce
                parking donnant sur le circuit, il sera fermé à 10h30,
                début de l’accès au circuit aux patineurs, et il ne vous
                sera plus possible de sortir avant la fin de l’évènement
                (17h15). Attention le nombre de places y est limité
                (autour de 250 places quand même).</span></div>
            <span style="font-family:arial, helvetica, sans-serif;"><br>
              Vous pouvez également venir par les transports en commun :
              ligne 9 station Ranelagh, ou Bus PC1 ou 32, Porte de
              Passy.<br>
              Voir indication dans le plan joint (compter 15 mn à pied
              depuis la station Ranelagh, et un peu moins de 10 mn
              depuis le Bus)</span><br>
            <br>
            <span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"></span>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_219"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_218"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Ouverture
                du village roller :</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_214"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_213"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Le
                village roller vous sera ouvert à partir de 9h00,
                pelouse de St Cloud.</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_209"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_208"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Vous
                y trouverez les stands de nos partenaires roller : Ligne
                Droite, Seba et Eo skates ; passez les voir pour faire
                vos emplettes de rentrée pour les remercier de leur aide
                aux 6h de Paris par la dotation généreuse de cadeaux
                pour les podiums ! <br
                  id="yiv3670622813yui_3_7_2_355_1374864275962_312">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_308"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_208"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Vous
                trouverez également sur le village le stand de Mobile en
                Ville : découvrez cette association parisienne qui
                promeut l'accessibilité pour tous !</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_335"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_208"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Et
                aussi le stand PUC/ CDRS75/ FFRS, au niveau des
                animations, pour toutes les questions que vous vous
                posez sur la pratique du roller à Paris.</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_304"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_208"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"><br>
              </span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_204"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_203"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Retraits
                des dossards et des puces :</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_199"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_198"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Vous
                serez accueillis au stand Retrait des dossards de </span><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_351"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">9h00
                à 10h30.</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_194"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_193"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Vous
                pourrez y retirer vos dossards (1 dossard cuisse) ; </span><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_354"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">pensez
                à prendre des épingles (4 par équipier) !</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_189"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_188"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Nous
                vous y fournirons aussi vos puces ; pensez à prendre </span><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_357"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">votre
                chèque de caution de 100 euros (SOLOS )/ caution de 200€
                (EQUIPES) à l'ordre du Paris Université Club.</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_184"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_183"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Un
                sac cadeaux/ravitaillement vous y sera remis (cf. plus
                loin). </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_179"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_178"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Un
                café ou un thé, des gâteaux vous y seront proposés en
                bienvenue, à la buvette qui est sous la même tente !</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_358"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_178"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"><br>
              </span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_174"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_173"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Emplacement
                des équipes :</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_169"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_168"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Des
                espaces seront délimités sur les trottoirs de la zone de
                passage des relais. Il y aura 2 équipes par espace, les
                équipes ont été regroupées par Club. </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_164"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_163"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Attention
                cet espace est très réduit et ne permet pas d’accueillir
                l’ensemble de l’équipe de manière permanente. </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_159"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_158"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Les
                solos et duos seront positionnés de l’autre coté de la
                piste.</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_154"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_153"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Vous
                aurez la possibilité d’installer, si vous le souhaitez,
                vos barnums et tentes dans la zone repos située à
                proximité de la piste, et fermée par des barrières.</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_149"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_148"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Pensez
                à apporter vos sièges, et tables (non fournis) ! Par
                ailleurs, notez qu’il n’y aura  pas non plus de
                fourniture d’électricité.</span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_144"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_143"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;"><br
                  id="yiv3670622813yui_3_7_2_355_1374864275962_365">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_361"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_143"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Échauffement
                :</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_139"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_138"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Le
                circuit sera ouvert à partir de </span><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">10h30</span><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_392"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">.</span></div>
            <br>
            <span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"></span>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_134"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_133"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Ravitaillement
                :</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_129"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_128"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Nous

                fournirons à chaque patineur 2 barres de céréales, 1
                compote et une bouteille de Gatorade (offerte par notre
                partenaire Pepsi France).</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_124"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_123"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Deux
                points d’eau seront à votre disposition, il s’agit de
                l’eau du robinet Eau de Paris. Un gobelet par personne
                sera fourni.</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_119"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_379"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Pensez
                à </span><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_118"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">apporter
                des bouteilles d’eau ou des bidons,</span><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_395"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
                il risque de faire très chaud !</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_114"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_113"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Prenez
                aussi en complément de quoi avoir de l’énergie pour
                toute la course (pate d’amande, compotes, boissons
                énergisantes), et une petite pharmacie (compeed...).
                Enfin, une casquette peut-être utile également pour vous
                protéger du soleil, ainsi que de la crème solaire!</span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_109"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_108"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;"><br
                  id="yiv3670622813yui_3_7_2_355_1374864275962_400">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_396"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_108"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Buvette
                :</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_104"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_103"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Une
                buvette sera à votre disposition dans le village roller,
                avec les boissons fraîches de notre partenaire numéro 1,<span
                  style="font-weight:bold;"> PEPSI CO</span> : </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_99"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_98"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">-
                Tropicana, </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_94"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_93"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">-
                Pepsi et Pepsi Next 7up, </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_89"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_88"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">-
                Lipton Ice tea pêche</span></div>
            <span id="yiv3670622813yui_3_7_2_355_1374864275962_73"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Vous
              y trouverez également des gâteaux</span><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:#ff0000;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"></span><span
              id="yiv3670622813yui_3_7_2_355_1374864275962_484"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">,
              des sandwichs </span><span
              id="yiv3670622813yui_3_7_2_355_1374864275962_406"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">et
              des GLACES!<br>
            </span>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_485"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_406"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"><br>
              </span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_69"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_68"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">SOLOS
                !</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_63"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_62"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Nous
                avons prévu pour vous un ravitaillement en eau pendant
                toute l’épreuve, avec également quelques compotes.</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_515"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_514"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Une
                consigne sera à votre disposition pour déposer vos sacs
                et effets personnels (retrait à la fin de la course :
                prévoir de garder avec vous ce dont vous aurez besoin :
                téléphone, monnaie etc.).</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_520"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_519"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Vous
                serez prioritaires au stand des étudiants en
                ostéopathie, et surtout, aux toilettes!</span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_525"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_524"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;"><br
                  id="yiv3670622813yui_3_7_2_355_1374864275962_536">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_532"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_524"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Animation
                pendant la course des 6h</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_530"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_529"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Ligne
                droite offrira quelques lots pendant la course.
                Surprise, surprise!</span></div>
            <div dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_540"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_539"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;"><br
                  id="yiv3670622813yui_3_7_2_355_1374864275962_579">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_575"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_539"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Animations
                pour vos enfants, pour vos accompagnateurs et lors de
                vos pauses  :</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_545"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                class="yui_3_7_2_103_1374908432338_216"
                id="yiv3670622813yui_3_7_2_355_1374864275962_544"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">-
                Des<span style="font-weight: bold;"> initiations
                  gratuites</span> au roller seront ouvertes à tous, de
                10h à 17h, avec les coachs du club : amis spectateurs ou
                accompagnant les patineurs des 6h, venez passez un
                moment sympa avec eux !<br>
              </span><span style="font-family:
                arial,helvetica,sans-serif;">- et SEBA organise le <span
                  style="font-weight: bold;">SEBA SPRINT</span>, qui
                aura lieu près du village roller, sur la route d'Auteuil
                au lac, de 11:30 à 17:30.<br>
                Il s'agit d'une épreuve de sprint sur une distance de
                60m, départ arrêté. Chronométrage cellules.<br>
                L'épreuve est ouverte à tous, chaque participant aura le
                droit d'effectuer 2 runs maximum ; des lots
                récompenseront les meilleurs de chaque catégorie. <br>
                Venez tester votre pointe de vitesse tout au long de la
                journée ! <br>
                Inscription 5 Eur / Gratuit pour les inscrit aux 6h
                munis de leur dossard.<br>
                Inscription sur place (Stand SEBA). Nombre de 
                participants limité.<br>
              </span></div>
            <span style="font-family: arial,helvetica,sans-serif;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_557"
                style="font-size: 15px; color: rgb(0, 0, 0);
                background-color: transparent; font-weight: normal;
                font-style: normal; font-variant: normal;
                text-decoration: none; vertical-align: baseline;
                font-family: Arial;"> </span></span>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_563"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_562"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Récupération,
                bien être :</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_568"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_567"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">5
                postes de récupération et de bien être seront animés
                bénévolement par les étudiants en Ostéopathie de
                l'Institut Dauphine d'Ostéopathie -IDO- Profitez-en ! <br
                  id="yiv3670622813yui_3_7_2_355_1374864275962_629">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_625"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_567"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Pour
                info, cette école est partenaire du PUC et nos adhérents
                en bénéficient toute l'année.</span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_573"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_572"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;"><br
                  id="yiv3670622813yui_3_7_2_355_1374864275962_624">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_620"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_572"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:bold;font-style:normal;font-variant:normal;text-decoration:underline;vertical-align:baseline;">Sécurité
                :</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_597"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_596"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Sur
                le parcours, il y a un virage serré qui demande prudence
                : nous vous demandons de ralentir en amont de ce virage.
                Il sera signalé par des plots et un bénévole.</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_602"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_601"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Sur
                la ligne droite des relais, il est interdit de remonter
                la route en dehors des deux couloirs prévus à cet effet.
                Tout patineur pris en contre sens en dehors de ces
                couloirs se verra attribué un tour de pénalité à son
                équipe. <br
                  id="yiv3670622813yui_3_7_2_355_1374864275962_649">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_645"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_601"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"><br>
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_607"
              dir="ltr"
style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_606"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">De
                manière générale, nous vous demandons de veiller à votre
                sécurité et celles des autres, afin que cet évènement
                reste une fête!</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_630"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;text-align:justify;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_606"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"><br>
              </span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#1f497d;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_612"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_611"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">Excellente
                fin de préparation à tous, et rendez-vous le 4 aout !</span></div>
            <div dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
style="font-size:15px;font-family:Arial;color:#1f497d;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_617"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_616"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;"><br
                  id="yiv3670622813yui_3_7_2_355_1374864275962_637">
              </span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_633"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;color:rgb(0,
              0,
0);font-size:15px;font-family:Arial;background-color:transparent;font-style:normal;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_616"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">L’équipe
                des 6h Roller de Paris</span></div>
            <div id="yiv3670622813yui_3_7_2_355_1374864275962_59"
              dir="ltr"
              style="line-height:1.15;margin-top:0pt;margin-bottom:0pt;"><span
                id="yiv3670622813yui_3_7_2_355_1374864275962_58"
style="font-size:15px;font-family:Arial;color:#000000;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;">
              </span></div>
              <a href="http://www.6hdeparis.fr/wp-content/uploads/2013/07/6hdP-acces-transports.png"><img alt="6hdP accès transports" src="http://www.6hdeparis.fr/wp-content/uploads/2013/07/6hdP-acces-transports.png" height="302" width="600"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

