{% extends "base.html" %}

{% block content %}
    <style>
        .container_16 .grid_11 { width: 940px; }
        #stats>div { clear: both; }
        #stats>div>.bluff-wrapper { float: right; }
        #stats>div>table { float: left; }
        table, td, th { border: 1px solid grey; }
        table { margin: 10px; }
        tr:nth-child(odd) { background: #F2E5FF; }
    </style>
    <h2>Inscrits</h2>
    <script>
        var clubs = {};
        var categories = {};
        var villes = {};
        var pays = {};
        var nbequipe = {{ object_list|length }};
        var nombre = 0;
        var prix = 0;
        var nbpaye = 0;
        var paye = 0;
        var nbcomplet = 0;
    </script>
    <table width="100%">
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Club</th>
            <th>Cat.</th>
            <th>Ville</th>
            <th>Pays</th>
            <th>☺</th>
            <th>Date</th>
            <th>€</th>
            <th><img alt="None" src="/static/admin/img/icon-yes.gif"></th>
        </tr>
        {% for equipe in object_list %}
        <tr>
            <td>{{ equipe.id }}</td>
            <td>{{ equipe.nom }}</td>
            <td>{{ equipe.club }}</td>
            <td>{{ equipe.categorie }}</td>
            <td>{{ equipe.gerant_ville }}</td>
            <td>{{ equipe.gerant_pays }}</td>
            <td>{{ equipe.nombre }}</td>
            <td>{{ equipe.date }}</td>
            <td>{{ equipe.prix }}€ {{ equipe.paiement_complet2|safe }}</td>
            <td>
                {{ equipe.dossier_complet2|safe }}
                <script>
                    clubs['{{ equipe.club|lower|escapejs }}' || 'Sans club'] = (clubs['{{ equipe.club|lower|escapejs }}' || 'Sans club'] || 0) + 1
                    categories['{{ equipe.categorie|escapejs }}'] = (categories['{{ equipe.categorie|escapejs }}'] || 0) + 1
                    villes['{{ equipe.gerant_ville|lower|escapejs }}'] = (villes['{{ equipe.gerant_ville|lower|escapejs }}'] || 0) + 1
                    pays['{{ equipe.gerant_pays|lower|escapejs }}'] = (pays['{{ equipe.gerant_pays|lower|escapejs }}'] || 0) + 1
                    nombre += {{ equipe.nombre }};
                    prix += {{ equipe.prix }};
                    nbpaye += {{ equipe.paiement_complet|yesno:"1,0,0" }};
                    paye += {{ equipe.paiement|default:0 }};
                    nbcomplet += {{ equipe.dossier_complet|yesno:"1,0,0" }};
                </script>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td>{{ object_list|length }}</td>
            <td></td>
            <td><script>var nbclubs = 0; for(var k in clubs) nbclubs++; document.write(nbclubs);</script></td>
            <td></td>
            <td><script>var nbvilles = 0; for(var k in villes) nbvilles++; document.write(nbvilles);</script></td>
            <td><script>var nbpays = 0; for(var k in pays) nbpays++; document.write(nbpays);</script></td>
            <td><script>document.write(nombre);</script></td>
            <td colspan="2" style="text-align: right;"><script>document.write(paye);</script>€ / <script>document.write(prix);</script>€ (<script>document.write(nbpaye);</script><img alt="None" src="/static/admin/img/icon-yes.gif">)</td>
            <td><script>document.write(nbcomplet);</script><img alt="None" src="/static/admin/img/icon-yes.gif"></td>
        </tr>
    </table>
    <div id="stats">
        <script>
            var s = '<div><canvas id="canvas_pays"></canvas><table><tr><th>Pays</th><th>#</th><th>%</th></tr>';
            for(var k in pays)
                s+= '<tr><td>' + k + '</td><td>' + pays[k] + '</td><td>' + Math.round(pays[k] / nbequipe * 100) + '%</td></tr>';
            s += '</table></div><div><canvas id="canvas_villes"></canvas><table><tr><th>Villes</th><th>#</th><th>%</th></tr>';
            for(var k in villes)
                s+= '<tr><td>' + k + '</td><td>' + villes[k] + '</td><td>' + Math.round(villes[k] / nbequipe * 100) + '%</td></tr>';
            s += '</table></div><div><canvas id="canvas_categories"></canvas><table><tr><th>Cat.</th><th>#</th><th>%</th></tr>';
            for(var k in categories)
                s+= '<tr><td>' + k + '</td><td>' + categories[k] + '</td><td>' + Math.round(categories[k] / nbequipe * 100) + '%</td></tr>';
            s += '</table></div><div><canvas id="canvas_clubs"></canvas><table><tr><th>Clubs</th><th>#</th><th>%</th></tr>';
            for(var k in clubs)
                if(clubs[k] > 1)
                    s+= '<tr><td>' + k + '</td><td>' + clubs[k] + '</td><td>' + Math.round(clubs[k] / nbequipe * 100) + '%</td></tr>';
            s += '</table></div>';
            document.write(s);
        </script>
        <script src="{{ STATIC_URL }}/js-class.js"></script>
        <script src="{{ STATIC_URL }}/bluff-min.js"></script>
        <script>
            ['pays', 'villes', 'categories', 'clubs'].forEach(function(i) {
                var g = new Bluff.Pie('canvas_' + i, 400);
                g.theme_pastel();
                g.title = i;
                g.tooltips = true;
                var d = [];
                var sum = 0;
                for(var k in window[i])
                    sum += window[i][k];
                var sum2 = 0;
                for(var k in window[i])
                    if(window[i][k] / sum > .05)
                        d.push([k, window[i][k]]);
                    else
                        sum2 += window[i][k];
                d.sort(function(x, y) { return x[1] < y[1] ? -1 : x[1] > y[1] ? 1 : 0; });
                d.forEach(function(i) {
                    g.data(i[0], i[1]);
                });
                g.data('Autres', sum2);
                g.draw();
            });
        </script>
    </div>
{% endblock %}
